<div *ngIf="loading" class="card">
    <div class="container">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s"></p-progressSpinner>
    </div>
</div>
<div *ngIf="!loading" class="card">
    <p-toast></p-toast>
    <h5 class="titulo">Usuarios</h5>
    <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4 pb-0">
            <input pInputText placeholder="Nombre" [(ngModel)]="usuarioFilter.nombreCompleto" />
        </div>
        <div class="field col-12 md:col-3 pb-0">
            <input pInputText placeholder="Registro Academico" [(ngModel)]="usuarioFilter.registroAcademico" />
        </div>
        <div class="field col-12 md:col-2 pb-0">
            <input pInputText placeholder="Dpi" [(ngModel)]="usuarioFilter.dpi" />
        </div>
        <div class="field col-12 md:col-2 pb-0">
            <input pInputText placeholder="Colegiado" [(ngModel)]="usuarioFilter.numeroColegiado" />
        </div>
        <div class="field col-12 md:col-1 pb-0">
            <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-secondary p-button-outlined"
                (click)="buscar()"></p-button>
        </div>
    </div>
    <p-table [value]="usuarios" 
    [paginator]="true"
    [rows]="10" 
    [lazy]="true"
    (onLazyLoad)="loadUsuarios($event)"
    [totalRecords]="totalRecords">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombres">Nombre</th>
                <th pSortableColumn="colegiado">Colegiado</th>
                <th pSortableColumn="registro">Registro</th>
                <th pSortableColumn="telefono">Telefono</th>
                <th pSortableColumn="rol">Tipo de Usuario</th>
                <th pSortableColumn="estado">Estado</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Nombre</span>
                    {{usuario.nombreCompleto}}
                </td>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Colegiado</span>
                    {{usuario.numeroColegiado}}
                </td>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Registro</span>
                    {{usuario.registroAcademico}}
                </td>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Telefono</span>
                    {{usuario.telefono}}
                </td>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Tipo de usuario</span>
                    {{usuario.rol.titulo}}
                </td>
                <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Estado</span>
                    <p-tag *ngIf="usuario.activo" severity="success" value="ACTIVO"></p-tag>
                    <p-tag *ngIf="!usuario.activo" severity="danger" value="INACTIVO"></p-tag>
                </td>
                <td>
                    <div class="flex">
                        <p-button icon="pi pi-eye" title="Ver usuario" styleClass="p-button-rounded p-button-outlined"
                            (click)="editUsuario(usuario)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<style>
    .titulo {
        color: #00274e;
        font-weight: bold;
    }

    .container {
        display: grid;
        place-items: center;
        /* Center both horizontally and vertically */
        height: 75vh;
        /* Optional: Makes it full-height */
    }
</style>