<div class="card">
    <p-toast></p-toast>
    <div class="flex md:flex-row justify-content-between align-items-center">
        <div class="flex md:flex-row">
            <h5 class="titulo">Proyectos</h5>
        </div>
        <span class="block mt-2 p-input-icon-left">
            <p-button icon="pi pi-ellipsis-v" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
        </span>
    </div>
    <p-table [value]="proyectos" 
        [paginator]="true" 
        [rows]="10" 
        [lazy]="true"
        (onLazyLoad)="loadProyectos($event)"
        [totalRecords]="totalRecords">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="email">Titulo</th>
                <th pSortableColumn="estudiante">Estudiante</th>
                <th pSortableColumn="registro">Registro Academico</th>
                <th pSortableColumn="Carrera">Carrera</th>
                <th pSortableColumn="Coordenadas">Estado</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proyecto>
            <tr>
                <td style="width:30%; min-width:10rem;"><span class="p-column-title">Titulo</span>
                    {{proyecto.elementoTitulo?.informacion}}
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Estudiante</span>
                    {{proyecto.usuario.nombreCompleto}}
                </td>
                <td style="width:15%; min-width:10rem;"><span class="p-column-title">Registro Academico</span>
                    {{proyecto.usuario.registroAcademico}}
                </td>
                <td style="width:15%; min-width:10rem;">
                    <span class="p-column-title">Carrera</span>
                    {{proyecto.carrera.nombre}}
                </td>
                <td style="width:10%; min-width:8rem;">
                    <span class="p-column-title">Estado</span>
                    <p-tag *ngIf="proyecto.activo" severity="success" value="ACTIVO"></p-tag>
                    <p-tag *ngIf="!proyecto.activo" severity="danger" value="INACTIVO"></p-tag>
                </td>
                <td>
                    <div class="flex gap-2">
                        <div>
                            <p-button *ngIf="proyecto.etapaActiva && rolUsuario==proyecto.etapaActiva.rol.titulo" icon="pi pi-eye" styleClass="p-button-rounded p-button-danger p-button-outlined"
                                title="Ver Proyecto" (click)="revisarProyecto(proyecto)"></p-button>
                            <p-button *ngIf="!proyecto.etapaActiva || rolUsuario!=proyecto.etapaActiva.rol.titulo" icon="pi pi-eye" styleClass="p-button-rounded p-button-secondary p-button-outlined"
                                title="Ver Proyecto" (click)="revisarProyecto(proyecto)"></p-button>
                        </div>
                        <div *ngIf="mostrarOpcionBitacora">
                            <p-button icon="pi pi-book" styleClass="p-button-rounded p-button-secondary p-button-outlined"
                                title="Ver Bitacora" (click)="revisarBitacora(proyecto)"></p-button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<style>
    .titulo {
        color: #00274e;
        font-weight: bold;
    }
</style>