<div class="card">
	<p-toast key="tst"></p-toast>
	<div class="flex md:flex-row justify-content-between align-items-center">
		<div class="flex md:flex-row">
			<span class="icon-atras block">
				<p-button icon="pi pi-chevron-left" (click)="regresar()"
					styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
			</span>
			<h5 class="titulo">Fecha de evaluacion</h5>
		</div>
	</div><br><br>
	<app-phase name="Informacion del proyecto" icon="pi pi-book">
		<div class="grid p-fluid mt-3">
			<div class="field col-12 md:col-12 pb-0">
				<label>Titulo de proyecto:</label>
				<textarea [(ngModel)]="elementoTitulo.informacion" class="title" disabled="true" required="required"
					id="titulo" rows="4" cols="30" pInputTextarea></textarea>
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Nombre estudiante:</label>
				<input pInputText id="estudiante" type="text" disabled="true" class="title"
					[(ngModel)]="proyecto.usuario!.nombreCompleto" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Registro academico:</label>
				<input pInputText id="registro" type="text" disabled="true" class="title"
					[(ngModel)]="proyecto.usuario!.registroAcademico" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Carne:</label>
				<input pInputText id="carne" type="text" disabled="true" class="title"
					[(ngModel)]="proyecto.usuario!.dpi" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Carrera:</label>
				<input pInputText id="carrera" type="text" disabled="true" class="title"
					[(ngModel)]="proyecto.carrera!.nombre" />
			</div>
		</div>
	</app-phase>
	<app-phase name="Coordinador de EPS" icon="pi pi-users">
		<div class="grid p-fluid mt-3">
			<div class="field col-12 md:col-12 pb-0">
				<label>Coordinador de EPS: </label>
				<input *ngIf="coordinadorEps" pInputText type="text" disabled="true" class="title"
					[(ngModel)]="coordinadorEps.nombreCompleto" />
				<input *ngIf="!coordinadorEps" pInputText type="text" disabled="true" class="title"
					class="ng-invalid ng-dirty" placeholder="No se encontro usuario Coordinador EPS" />
			</div>
		</div>
	</app-phase>
	<app-phase name="Comision de EPS" icon="pi pi-users">
		<div class="grid p-fluid mt-3">
			<div class="field col-12 md:col-12 pb-0">
				<label>Supervisor:</label>
				<input *ngIf="supervisor" pInputText id="supervisor" type="text" disabled="true" class="title"
					[(ngModel)]="supervisor.nombreCompleto" />
				<input *ngIf="!supervisor" pInputText type="text" disabled="true" class="ng-invalid ng-dirty"
				 placeholder="No se encontro usuario Supervisor" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Coordinador de Carrera:</label>
				<input *ngIf="coordinadorCarrera!=undefined" pInputText type="text" disabled="true" class="title"
					[(ngModel)]="coordinadorCarrera.nombreCompleto" />
				<input *ngIf="coordinadorCarrera==undefined" pInputText type="text" disabled="true"
					class="ng-invalid ng-dirty" placeholder="No se encontro usuario Coordinador Carrera" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Asesor:</label>
				<input *ngIf="asesor" pInputText disabled="true" class="title" type="text"
					[(ngModel)]="asesor.nombreCompleto" />
				<input *ngIf="!asesor" pInputText disabled="true" type="text" class="ng-invalid ng-dirty"
					placeholder="No se encontro usuario asesor" />
			</div>
			<div *ngIf="mostrarRepresentante" class="field col-12 md:col-6 pb-0">
				<label>Titulo representante:</label>
				<p-dropdown #rolDropdown [(ngModel)]="convocatoria.tituloRepresentante" [options]="titulos"
					[editable]="true" optionLabel="nombre"></p-dropdown>
			</div>
			<div *ngIf="mostrarRepresentante" class="field col-12 md:col-6 pb-0">
				<label>Nombre representante:</label>
				<input pInputText type="text" [(ngModel)]="convocatoria.representante" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<p-button *ngIf="!mostrarRepresentante" label="Agregar representante de coordinador"
					styleClass="p-button-link" (click)="mostrarRepresentante=true"></p-button>
				<p-button *ngIf="mostrarRepresentante" label="Remover representante de coordinador"
					styleClass="p-button-link p-button-danger p-button-text"
					(click)="removerRepresentante()"></p-button>
			</div>
		</div>
	</app-phase>
	<div *ngIf="mostrarFecha">
		<app-phase name="Fecha definida" icon="pi pi-calendar-times">
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-6 pb-0">
					<label>Fecha:</label>
					<input pInputText disabled="true" class="title" type="text"
						[(ngModel)]="convocatoriaGenerada.fechaEvaluacion" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Hora:</b> Utilize formato de 24 horas</label>
					<input pInputText id="coordinador" type="text" class="title" disabled="true"
						[(ngModel)]="convocatoriaGenerada.horaEvaluacion" placeholder="ej: 18:00"/>
				</div>
				<div class="field col-12 md:col-12 pb-0">
					<label htmlFor="salon">Salon: </label>
					<input pInputText id="salon" type="text" class="title" [(ngModel)]="convocatoriaGenerada.salon"
						disabled="true" />
				</div>
			</div>
		</app-phase>
	</div>
	<app-phase name="Datos de evaluacion" icon="pi pi-calendar-times">
		<div class="grid p-fluid mt-3">
			<div class="field col-12 md:col-6 pb-0">
				<label htmlFor="fecha">Seleccione fecha de evaluacion: </label>
				<p-calendar [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(convocatoria.fechaEvaluacion)}"
					dateFormat="dd-mm-yy" inputId="dateformat" [(ngModel)]="convocatoria.fechaEvaluacion"></p-calendar>
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label htmlFor="fecha">Seleccione hora de evaluacion: </label>
				<p-calendar [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(convocatoria.horaEvaluacion)}"
					[(ngModel)]="hora" [timeOnly]="true"></p-calendar>
			</div>
			<div class="field col-12 md:col-12 pb-0">
				<label htmlFor="salon">Ingrese nombre de salon de evaluacion: </label>
				<input [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(convocatoria.salon)}" pInputText id="salon"
					type="text" class="title" [(ngModel)]="convocatoria.salon"
					placeholder="ej: Salón TICs del Módulo G" />
			</div>
			<div *ngIf="mostrarFecha" class="field col-12 md:col-12 pb-0">
				<label htmlFor="fecha">Explique el motivo del cambio: </label>
				<textarea [(ngModel)]="convocatoria.comentario" rows="4" cols="30" placeholder="Escribe tu comentario"
					pInputTextarea></textarea>
			</div>
		</div>
	</app-phase>
	<div class="grid p-fluid mt-3">
		<div class="field col-12 md:col-6">
			<p-button icon="pi pi-angle-left" styleClass="p-button-outlined p-button-secondary" label="Regresar"
				(click)="regresar()"></p-button>
		</div>
		<div class="field col-12 md:col-6">
			<p-button icon="pi pi-check" styleClass="p-button-outlined" label="Aceptar" (click)="aceptar()"></p-button>
		</div>
	</div>
</div>
<p-confirmDialog header="Confirmacion" key="confirm1" icon="pi pi-exclamation-triangle" [style]="{width: '350px'}"
	acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<style>
	.title {
		color: black;
	}

	.child {
		position: absolute;
		left: 45px;
	}

	.titulo {
		color: #00274e;
		font-weight: bold;
	}

	.icon-atras {
		margin-top: 10px;
	}
</style>