<div class="grid">
	<div class="col-12">
		<p-toast key="tst"></p-toast>
		<div class="card p-fluid">
			<h5>Crear Usuario</h5>
			<div class="p-formgrid grid">
				<div class="field col">
					<label class="{{campos[0].class}}" htmlFor="nombres">Nombres</label>
					<input [(ngModel)]="campos[0].valor" pInputText id="nombres" type="text" />
				</div>
				<div class="field col">
					<label class="{{campos[1].class}}" htmlFor="apellidos">Apellidos</label>
					<input [(ngModel)]="campos[1].valor" pInputText id="apellidos" type="text" />
				</div>
			</div>
			<div class="p-formgrid grid">	
				<div class="field col">
					<label class="{{campos[2].class}}" htmlFor="email">Correo electrónico</label>
					<input [(ngModel)]="campos[2].valor" pInputText id="email" type="text" />
				</div>
				<div class="field col">
					<label class="{{campos[3].class}}" htmlFor="fecha">Fecha de Nacimiento</label>
					<p-calendar [(ngModel)]="campos[3].valor" dateFormat="yy-mm-dd" inputId="dateformat"></p-calendar>
				</div>
			</div>
			
			<div class="p-formgrid grid">	
				<div class="field col">
					<label class="{{campos[4].class}}" htmlFor="direccion">Direccion</label>
					<input [(ngModel)]="campos[4].valor" pInputText id="direccion" type="text" />
				</div>
				<div class="field col">
					<label class="{{campos[5].class}}" htmlFor="dpi">Numero de DPI</label>
					<input [(ngModel)]="campos[5].valor" pInputText id="dpi" type="text" />
				</div>
			</div>
			<div class="p-formgrid grid">
				<div class="field col">
					<label class="{{campos[6].class}}" htmlFor="telefono">Numero de Telefono</label>
					<input [(ngModel)]="campos[6].valor" pInputText id="telefono" type="text" />
				</div>
				<div class="field col">
					<label class="{{campos[7].class}}" htmlFor="tipo">Rol de Usuario</label>
					<p-dropdown [(ngModel)]="campos[7].valor"  [options]="roles" [editable]="true" optionLabel="titulo" (onChange)="onChange($event)"></p-dropdown>
				</div>
			</div>
			<div class="p-formgrid grid">
				<div *ngIf="carreraSeleccionada.mostrar" class="field col">
					<label class="{{carreraSeleccionada.class}}" htmlFor="carreras">Carreras</label>
					<p-multiSelect [(ngModel)]="carreraSeleccionada.valor" inputId="multiselect" [options]="carreras" optionLabel="titulo" [filter]="false"></p-multiSelect>
				</div>
				<div *ngIf="registro.mostrar" class="field col">
					<label class="{{registro.class}}" htmlFor="registro">Registro Academico</label>
					<input [(ngModel)]="registro.valor" pInputText id="registro" type="text" />
				</div>
				<div *ngIf="colegiado.mostrar" class="field col">
					<label class="{{colegiado.class}}" htmlFor="colegiado">Numero de Colegiado</label>
					<input [(ngModel)]="colegiado.valor" pInputText id="colegiado" type="text" />
				</div>
			</div><br>
			<div class="p-formgrid grid">
				<div class="field col">
					<p-confirmDialog header="Confirmacion" key="confirm1" icon="pi pi-exclamation-triangle"
                             [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
					<p-confirmDialog header="Confirmacion" key="confirm2" icon="pi pi-exclamation-triangle"
                             [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
					<button (click)="confirm()" pButton icon="pi pi-check" label="Actualizar Usuario"></button>	
				</div>
				<div class="field col">
					<button (click)="cancelar()" pButton icon="pi pi-times" class="p-button-danger" label="Cancelar"></button>	
				</div>	
			</div>		
		</div>
	</div>
</div>
