<div class="card">
	<p-toast></p-toast>
	<h5 class="titulo">Bitacoras</h5>
	<div class="grid p-fluid mt-3">
		<div class="field col-12 md:col-6 pb-0">
			<input pInputText placeholder="Nombres" [(ngModel)]="nombreFilter" />
		</div>
		<div class="field col-12 md:col-5 pb-0">
			<input pInputText placeholder="Registro Academico" [(ngModel)]="registroFilter" />
		</div>
		<div class="field col-12 md:col-1 pb-0">
			<p-button icon="pi pi-search" styleClass="p-button-rounded p-button-secondary p-button-outlined"
				(click)="buscar()"></p-button>
		</div>
	</div>
	<p-table [value]="bitacoras" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadBitacoras($event)"
		[totalRecords]="totalRecords">
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="estudiante">Estudiante</th>
				<th pSortableColumn="registroAcademico">Registro academico</th>
				<th pSortableColumn="fechaReporte">Fecha de reporte</th>
				<th pSortableColumn="progreso">Progreso</th>
				<th pSortableColumn="informeMensual">Informe</th>
				<th pSortableColumn="revision">Revision</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-bitacora>
			<tr>
				<td style="width:30%"><span class="p-column-title">Estudiante</span>
					{{bitacora.usuario!.nombreCompleto}}
				</td>
				<td style="width:15%;"><span class="p-column-title">Registro academico</span>
					{{bitacora.usuario!.registroAcademico}}
				</td>
				<td style="width:10%;min-width: 8rem;"><span class="p-column-title">Fecha de Reporte</span>
					{{bitacora?.fechaReporte}}
				</td>
				<td style="width: 5%"><span class="p-column-title">Progreso</span>
					{{bitacora.avance}}
				</td>
				<td style="width:5%"><span class="p-column-title">Informe</span>
					<i *ngIf="bitacora.contieneInforme" class="text-green-500 pi pi-check"></i>
					<i *ngIf="!bitacora.contieneInforme" class="pi pi-times"></i>
				</td>
				<td style="width:10%"><span class="p-column-title">Revision</span>
					<span title="supervisor"
						[ngClass]="{'true-value': bitacora.revisionSupervisor, 'false-value': !bitacora.revisionSupervisor}">S</span>
					<span title="asesor"
						[ngClass]="{'true-value': bitacora.revisionAsesor, 'false-value': !bitacora.revisionAsesor}">A</span>
					<span title="contraparte"
						[ngClass]="{'true-value': bitacora.revisionContraparte, 'false-value': !bitacora.revisionContraparte}">C</span>
				</td>
				<td>
					<div class="flex">
						<p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-success p-button-outlined"
							(click)="revisarBitacora(bitacora)"></p-button>
					</div>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>

<style>
	.titulo {
		color: #00274e;
		font-weight: bold;
	}

	.true-value,
	.false-value {
		color: white;
		font-size: 10px;
		font-weight: bold;
		padding: 4px 8px;
		/* Adjust padding as needed */
		border-radius: 25%;
		/* Rounded corners for a stylish look */
		margin-right: 3px;
		/* Add some space between characters */
	}

	.true-value {
		background-color: #287233;
		/* Modern green */
	}

	.false-value {
		background-color: #C41E3A;
		/* Modern red */
	}
</style>