<div *ngIf="loading" class="card">
	<div class="container">
		<p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
			animationDuration=".5s"></p-progressSpinner>
	</div>
</div>
<div *ngIf="!loading" class="card">
	<p-toast key="tst"></p-toast>
	<div class="flex md:flex-row justify-content-between align-items-center">
		<div class="flex md:flex-row">
			<!--<span class="icon-atras block">
				<p-button icon="pi pi-chevron-left" (click)="listaProyectos()"
					styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
			</span>-->
			<h5 class="titulo">Proyecto Eps</h5>
		</div>
		<p-menu #menu [popup]="true" [model]="opciones"></p-menu>
		<span class="block mt-2 p-input-icon-left">
			<p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"
				styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
		</span>
	</div>
	<div [style]="{'background': '#E0E0E0','padding':'1rem','border-radius':'6px'}">
		<p class="titulo">Etapa: {{proyecto.etapaActiva!.nombre}}</p>
		<p class="m-0">{{proyecto.etapaActiva!.descripcion}}</p>
	</div>
	<p-steps [model]="items" styleClass="mt-5" [readonly]="false" [activeIndex]="activeIndex"
		(activeIndexChange)="onActiveIndexChange($event)"></p-steps>
	<br><br><br>
	<ng-container *ngIf="activeIndex === 0">
		<div class="grid p-fluid mt-3">
			<div class="field col-12 md:col-12 pb-0">
				<label htmlFor="titulo">Titulo del Proyecto</label>
				<div class="input-container">
					<textarea [(ngModel)]="elementoTitulo.informacion" [disabled]="!modoEdicion || tituloBloqueado"
						class="text" rows="4" pInputTextarea></textarea>
					<p-button *ngIf="modoEdicion && tituloBloqueado" icon="pi pi-pencil"
						styleClass="p-button-rounded p-button-text p-button-raised"
						(onClick)="modificarElementoTitulo()"></p-button>
					<p-button *ngIf="modoEdicion && !tituloBloqueado" icon="pi pi-times"
						styleClass="p-button-rounded p-button-text p-button-raised"
						(onClick)="cancelarElementoTitulo()"></p-button>
					<p-button *ngIf="modoEdicion && !tituloBloqueado" icon="pi pi-save"
						styleClass="p-button-rounded p-button-text p-button-raised"
						(onClick)="guardarElementoTitulo()"></p-button>
				</div>
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Carrera</label>
				<input type="text" disabled="true" class="text" [(ngModel)]="proyecto.carrera.nombre" pInputText>
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label>Semestre</label>
				<div class="input-container">
					<p-dropdown class="file-uploader" [options]="semestres" [(ngModel)]="proyecto.semestre"
						[disabled]="!modoEdicion || semestreBloqueado"></p-dropdown>
					<p-button icon="pi pi-pencil" *ngIf="modoEdicion && semestreBloqueado"
						styleClass="p-button-rounded p-button-text p-button-raised"
						(onClick)="modificarSemestreProyecto()"></p-button>
					<p-button icon="pi pi-times" *ngIf="modoEdicion && !semestreBloqueado"
						styleClass="p-button-rounded p-button-text p-button-raised"
						(onClick)="cancelarSemestreProyecto()"></p-button>
					<p-button icon="pi pi-save" *ngIf="modoEdicion && !semestreBloqueado"
						styleClass="p-button-rounded p-button-text p-button-raised"
						(onClick)="guardarSemestreProyecto()"></p-button>
				</div>
			</div>
			<div *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CARTA_ACEPTACION_CONTRAPARTE || 
			idEtapaActiva==EtapaUtils.ID_ETAPA_HABILITACION_BITACORA ||
			idEtapaActiva==EtapaUtils.ID_ETAPA_REDACCION_ARTICULO" class="field col-12 md:col-12 pb-0">
				<div class="card grid p-fluid mt-3" *ngIf="actaGenerada">
					<div class="field col-12 md:col-6 pb-0">
						<label *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CARTA_ACEPTACION_CONTRAPARTE||
						idEtapaActiva==EtapaUtils.ID_ETAPA_HABILITACION_BITACORA">Resultado
							de anteproyecto: </label>
						<label *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REDACCION_ARTICULO">Resultado de examen
							general: </label>
						<input pInputText class="text" [disabled]="true" [(ngModel)]="actaGenerada.resultado" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Nota: </label>
						<input pInputText class="text" [disabled]="true" [(ngModel)]="actaGenerada.nota" />
					</div>
					<div *ngIf="actaGenerada.comentario" class="field col-12 md:col-12 pb-0">
						<label>Comentario: </label>
						<textarea class="text" [disabled]="true" [(ngModel)]="actaGenerada.comentario"
							pInputTextarea></textarea>
					</div>
				</div>
			</div>
			<div *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_ANTEPROYECTO ||
			idEtapaActiva==EtapaUtils.ID_ETAPA_EVALUACION_ANTEPROYECTO ||
			idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_EXAMEN_GENERAL ||
			idEtapaActiva==EtapaUtils.ID_ETAPA_EXAMEN_GENERAL" class="field col-12 md:col-12 pb-0">
				<div class="card grid p-fluid mt-3" *ngIf="convocatoriaGenerada">
					<div class="field col-12 md:col-6 pb-0">
						<label>Fecha evaluacion programada: </label>
						<input pInputText class="text" [disabled]="true"
							[(ngModel)]="convocatoriaGenerada.fechaEvaluacionFormat" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Hora de evaluacion programada: </label>
						<input pInputText class="text" [disabled]="true"
							[(ngModel)]="convocatoriaGenerada.horaEvaluacion" />
					</div>
					<div *ngIf="convocatoriaGenerada.comentario" class="field col-12 md:col-12 pb-0">
						<label>Comentario: </label>
						<textarea class="text" [disabled]="true" [(ngModel)]="convocatoriaGenerada.comentario"
							pInputTextarea></textarea>
					</div>
					<div *ngIf="isCoordinadorEps && (idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_ANTEPROYECTO || 
					idEtapaActiva==EtapaUtils.ID_ETAPA_EVALUACION_ANTEPROYECTO)" class="field col-12 md:col-12 pb-0">
						<label>Convocatoria Generada: </label>
						<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="false"
							[idElemento]="ElementoUtils.ID_ELEMENTO_CONVOCATORIA_ANTEPROYECTO"></app-file>
					</div>
					<div *ngIf="isCoordinadorEps && (idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_EXAMEN_GENERAL || 
					idEtapaActiva==EtapaUtils.ID_ETAPA_EXAMEN_GENERAL)" class="field col-12 md:col-12 pb-0">
						<label>Convocatoria Generada: </label>
						<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="false"
							[idElemento]="ElementoUtils.ID_ELEMENTO_CONVOCATORIA_EXAMEN_GENERAL"></app-file>
					</div>
					<div *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_EVALUACION_ANTEPROYECTO && !isEstudiante"
						class="field col-12 md:col-12 pb-0">
						<label>Convocatoria Firmada:</label>
						<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="isCoordinadorEps"
							[idElemento]="ElementoUtils.ID_ELEMENTO_CONVOCATORIA_ANTEPROYECTO_FIRMADA"></app-file>
					</div>
					<div *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_EXAMEN_GENERAL && !isEstudiante"
						class="field col-12 md:col-12 pb-0">
						<label>Convocatoria Firmada:</label>
						<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="isCoordinadorEps"
							[idElemento]="ElementoUtils.ID_ELEMENTO_CONVOCATORIA_EXAMEN_GENERAL_FIRMADA"></app-file>
					</div>
					<div class="field col-12 md:col-12 pb-0">
						<p-tag icon="pi pi-exclamation-triangle" severity="warning"
							value="Todavia pueden darse cambios en la fecha programada"></p-tag>
					</div>
				</div>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor) && idEtapaActiva>EtapaUtils.ID_ETAPA_DICTAMEN_REVISION" class="field col-12 md:col-12 pb-0">
				<label>Carta de revisor</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="isSupervisor && proyecto.activo!"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CARTA_REVISION"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor || isCoordinadorEps) && idEtapaActiva>EtapaUtils.ID_ETAPA_DICTAMEN_REVISION"
				class="field col-12 md:col-12 pb-0">
				<label>Dictamen supervisor</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="isSupervisor && proyecto.activo!"
					[idElemento]="ElementoUtils.ID_ELEMENTO_DICTAMEN_SUPERVISOR"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor || isCoordinadorEps) && idEtapaActiva>EtapaUtils.ID_ETAPA_REDACCION_ARTICULO"
				class="field col-12 md:col-12 pb-0">
				<label>Constancia de revision linguistica</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion || (idEtapaActiva==EtapaUtils.ID_ETAPA_DICTAMEN_REVISION && isEstudiante)"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CONSTANCIA_LINGUISTICA"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor || isCoordinadorEps) && idEtapaActiva>EtapaUtils.ID_ETAPA_REDACCION_ARTICULO"
				class="field col-12 md:col-12 pb-0">
				<label>Carta de traductor jurado</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CARTA_TRADUCTOR_JURADO"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor || isCoordinadorEps) && idEtapaActiva>EtapaUtils.ID_ETAPA_REDACCION_ARTICULO"
				class="field col-12 md:col-12 pb-0">
				<label>Articulo cientifico</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_ARTICULO"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor || isAsesor ||isCoordinadorEps) && idEtapaActiva>EtapaUtils.ID_ETAPA_CARGA_INFORME_FINAL"
				class="field col-12 md:col-12 pb-0">
				<label>Informe final</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion || (idEtapaActiva==EtapaUtils.ID_ETAPA_CONVOCATORIA_EXAMEN_GENERAL && isEstudiante)"
					[idElemento]="ElementoUtils.ID_ELEMENTO_INFORME_FINAL"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor) && idEtapaActiva>EtapaUtils.ID_ETAPA_CARGA_INFORME_FINAL" class="field col-12 md:col-12 pb-0">
				<label>Carta de finalizacion asesor</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion || (idEtapaActiva==EtapaUtils.ID_ETAPA_CONVOCATORIA_EXAMEN_GENERAL && isEstudiante)"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CARTA_FINALIZACION"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor) && idEtapaActiva>EtapaUtils.ID_ETAPA_BITACORA" class="field col-12 md:col-12 pb-0">
				<label>Finiquito de contraparte</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion || (idEtapaActiva==EtapaUtils.ID_ETAPA_APROBACION_BITACORA && isEstudiante)"
					[idElemento]="ElementoUtils.ID_ELEMENTO_FINIQUITO_CONTRAPARTE"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor) && idEtapaActiva>EtapaUtils.ID_ETAPA_CARGA_CARTA_ACEPTACION_CONTRAPARTE" 
				class="field col-12 md:col-12 pb-0">
				<label>Carta de aceptacion contraparte</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CARTA_ACEPTACION_CONTRAPARTE"></app-file>
			</div>
			<div *ngIf="(isEstudiante || isSupervisor) && idEtapaActiva>EtapaUtils.ID_ETAPA_CARGA_CARTA_ACEPTACION_CONTRAPARTE" 
				class="field col-12 md:col-12 pb-0">
				<label>Oficio a contraparte</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_OFICIO_CONTRAPARTE_INSTITUCIONAL"></app-file>
			</div>
			<div class="field col-12 md:col-12 pb-0">
				<label>Anteproyecto</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_ANTEPROYECTO"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label>Constancia de inscripcion</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_INSCRIPCION"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label>Constancia de propedeutico</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_PROPEDEUTICO"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label>Solicitud a supervisor</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_SOLICITUD_ESTUDIANTE"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label>Constancia de cierre o carta de cierre en proceso</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CONSTANCIA_CIERRE"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label>Certificado de nacimiento</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_NACIMIENTO"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label>Carta de asesor</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_CARTA"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label><b>Finiquito AEIO:</b> Unicamente estudiantes que formaron parte de la AEIO.</label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_FINIQUITO" [eliminable]="true"></app-file>
			</div>
			<div *ngIf="isEstudiante || isSecretaria || isSupervisor" class="field col-12 md:col-12 pb-0">
				<label><b>Otros documentos:</b> En caso de multiples documentos, deben ser unidos en un solo documento
					pdf. </label>
				<app-file [idProyecto]="proyecto.idProyecto!" [modoEdicion]="modoEdicion"
					[idElemento]="ElementoUtils.ID_ELEMENTO_OTROS" [eliminable]="true"></app-file>
			</div>
		</div>
		<div *ngIf="proyecto.activo" class="grid p-fluid mt-3">
			<div class="field col-12 md:col-6 pb-0">
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REVISION_SECRETARIA && 
				!proyectoEditable && isSecretaria" icon="pi pi-comment" styleClass="p-button-outlined" (click)="showDialog()"
					label="Solicitar Cambios"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REVISION_SUPERVISOR && 
				!proyectoEditable && isSupervisor" icon="pi pi-comment" styleClass="p-button-outlined" (click)="showDialog()"
					label="Solicitar Cambios"></p-button>
				<p-button *ngIf="(idEtapaActiva==EtapaUtils.ID_ETAPA_EVALUACION_ANTEPROYECTO || 
				idEtapaActiva==EtapaUtils.ID_ETAPA_EXAMEN_GENERAL) && isSupervisor" icon="pi pi-calendar" focus="true"
					styleClass="p-button-outlined" (click)="modificarEvaluacion()"
					label="Modificar Convocatoria"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_APROBACION_BITACORA && isSupervisor"
					icon="pi pi-check" focus="true" styleClass="p-button-outlined" (click)="rechazarBitacora()"
					label="Rechazar Bitacora"></p-button>
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<p-button *ngIf="idEtapaActiva<=EtapaUtils.ID_ETAPA_REVISION_SUPERVISOR && 
				proyectoEditable && isEstudiante" icon="pi pi-send" styleClass="p-button-outlined" (click)="solicitarRevision()"
					label="Solicitar Revision"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REVISION_SECRETARIA && 
				!proyectoEditable && isSecretaria" icon="pi pi-check" styleClass="p-button-outlined"
					(click)="aprobarCambiosSecretaria()" label="Aprobar"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REVISION_SUPERVISOR && 
				!proyectoEditable && isSupervisor" icon="pi pi-check" styleClass="p-button-outlined"
					(click)="aprobarCambiosSupervisor()" label="Aprobar"></p-button>
				<p-button *ngIf="(idEtapaActiva==EtapaUtils.ID_ETAPA_CONVOCATORIA_ANTEPROYECTO || 
				idEtapaActiva==EtapaUtils.ID_ETAPA_CONVOCATORIA_EXAMEN_GENERAL) && isSupervisor" icon="pi pi-calendar" focus="true"
					styleClass="p-button-outlined" (click)="definirEvaluacion()"
					label="Generar Convocatoria"></p-button>
				<p-button *ngIf="(idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_ANTEPROYECTO || 
				idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_EXAMEN_GENERAL) && isSupervisor" icon="pi pi-calendar"
					focus="true" styleClass="p-button-outlined" (click)="modificarEvaluacion()"
					label="Modificar Convocatoria"></p-button>
				<p-button *ngIf="(idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_ANTEPROYECTO || 
				idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CONVOCATORIA_EXAMEN_GENERAL) && isCoordinadorEps" icon="pi pi-pencil"
					focus="true" styleClass="p-button-outlined" (click)="cargarDocumento()"
					label="Cargar Convocatoria"></p-button>
				<p-button *ngIf="(idEtapaActiva==EtapaUtils.ID_ETAPA_EVALUACION_ANTEPROYECTO || 
				idEtapaActiva==EtapaUtils.ID_ETAPA_EXAMEN_GENERAL) && isSupervisor" icon="pi pi-pencil" focus="true"
					styleClass="p-button-outlined" (click)="crearActaAnteproyecto()" label="Crear Acta"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_CARTA_ACEPTACION_CONTRAPARTE && isEstudiante"
					icon="pi pi-pencil" focus="true" styleClass="p-button-outlined" (click)="cargarDocumento()"
					label="Cargar Carta de Aceptacion"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_HABILITACION_BITACORA && isSupervisor"
					icon="pi pi-check" focus="true" styleClass="p-button-outlined" (click)="habilitarBitacora()"
					label="Habilitar Bitacora"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_BITACORA && isEstudiante" icon="pi pi-check"
					focus="true" styleClass="p-button-outlined" (click)="cargarDocumento()"
					label="Finalizar Bitacora"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_APROBACION_BITACORA && isSupervisor"
					icon="pi pi-check" focus="true" styleClass="p-button-outlined" (click)="aprobarBitacora()"
					label="Aprobar Bitacora"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_CARGA_INFORME_FINAL && isEstudiante"
					icon="pi pi-pencil" focus="true" styleClass="p-button-outlined" (click)="cargarDocumento()"
					label="Cargar Informe Final"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REDACCION_ARTICULO && isEstudiante"
					icon="pi pi-pencil" focus="true" styleClass="p-button-outlined" (click)="cargarDocumento()"
					label="Cargar Articulo"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_REVISION_INFORME_FINAL && isSupervisor"
					icon="pi pi-check" styleClass="p-button-outlined" (click)="aprobarInformeFinalSupervisor()"
					label="Aprobar Informe Final"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_DICTAMEN_REVISION && isSupervisor"
					icon="pi pi-pencil" focus="true" styleClass="p-button-outlined" (click)="cargarDocumento()"
					label="Cargar Dictamen y Carta Revision"></p-button>
				<p-button *ngIf="idEtapaActiva==EtapaUtils.ID_ETAPA_ACTA_FINALIZACION && isCoordinadorEps"
					icon="pi pi-pencil" focus="true" styleClass="p-button-outlined" (click)="crearActaAnteproyecto()"
					label="Crear Acta Finalizacion"></p-button>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="activeIndex === 1">
		<div class="card">
			<div class="field col-12 md:col-12 pb-0">
				<label class="negrita">Datos de institucion</label>
			</div>
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-12 pb-0">
					<label>Nombre de Institucion</label>
					<input [(ngModel)]="proyecto.institucion!.nombre" pInputText class="text"
						[disabled]="!editarInstitucion" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Departamento:</b> Ubicacion de la institucion</label>
					<p-autoComplete [(ngModel)]="departamentoSeleccionado" [dropdown]="true" class="text"
						[suggestions]="departamentoFiltrado" (completeMethod)="filtrarDepartamento($event)"
						field="nombre" [disabled]="!editarInstitucion"
						(onSelect)="cambiarDepartamento($event)"></p-autoComplete>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Municipio:</b> Ubicacion de la institucion</label>
					<p-autoComplete [(ngModel)]="proyecto.institucion!.municipio" [dropdown]="true" class="text"
						[suggestions]="municipioFiltrado" (completeMethod)="filtrarMunicipio($event)" field="nombre"
						[disabled]="!editarInstitucion"></p-autoComplete>
				</div>
				<div class="field col-12 md:col-12 pb-0">
					<label><b>Direccion:</b> Dirreccion exacta de la institucion</label>
					<input [(ngModel)]="proyecto.institucion!.direccion" pInputText class="text"
						[disabled]="!editarInstitucion" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Departamento proyecto (opcional):</b> Ubicacion fisica donde se ejecutara el
						proyecto</label>
					<p-autoComplete [(ngModel)]="departamentoProyectoSeleccionado" [dropdown]="true" class="text"
						[suggestions]="departamentoFiltrado" (completeMethod)="filtrarDepartamento($event)"
						field="nombre" [disabled]="!editarInstitucion" (onSelect)="cambiarDepartamentoProyecto($event)"
						[showClear]="true" (onClear)="clearMuncipioProyecto()"></p-autoComplete>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Municipio proyecto (opcional):</b> Ubicacion fisica donde se ejecutara el proyecto</label>
					<p-autoComplete [(ngModel)]="proyecto.institucion!.municipioProyecto" [dropdown]="true" class="text"
						[suggestions]="municipioFiltrado" (completeMethod)="filtrarMunicipioProyecto($event)"
						field="nombre" [disabled]="!editarInstitucion" [showClear]="true"
						(onClear)="clearMuncipioProyecto()"></p-autoComplete>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Direccion Proyecto (opcional):</b> Dirreccion exacta donde se ejecutara el
						proyecto</label>
					<input [(ngModel)]="proyecto.institucion!.direccionProyecto" pInputText class="text"
						[disabled]="!editarInstitucion" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label><b>Coordenada proyecto (opcional): </b>Coordenadas de google maps (x,y)</label>
					<input [(ngModel)]="proyecto.institucion!.coordenadaProyecto" pInputText class="text"
						[disabled]="!editarInstitucion" />
				</div>
			</div>
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-6 pb-0">
					<p-button *ngIf="editarInstitucion" label="Cancelar" icon="pi pi-times"
						(onClick)="cancelarEdicionInstitucion()"
						styleClass="p-button-outlined p-button-secondary"></p-button>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<p-button *ngIf="!editarInstitucion && modoEdicion" label="Editar" icon="pi pi-pencil"
						(onClick)="editarInstitucion=true" styleClass="p-button-outlined p-button-secondary"></p-button>
					<p-button *ngIf="editarInstitucion" label="Guardar" icon="pi pi-save"
						styleClass="p-button-outlined p-button-secondary" (onClick)="guardarInstitucion()"></p-button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-12 pb-0">
					<label class="negrita">Datos responsable contraparte institucional</label>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label>Nombre</label>
					<input [(ngModel)]="proyecto.contraparte!.nombreCompleto" [disabled]="!editarContraparte" pInputText
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0" *ngIf="this.idEtapaActiva <= EtapaUtils.ID_ETAPA_BITACORA">
					<label>Puesto en la institucion</label>
					<input [(ngModel)]="proyecto.contraparte!.puesto" [disabled]="!editarContraparte" pInputText
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label>Correo electrónico</label>
					<input [(ngModel)]="proyecto.contraparte!.correo" [disabled]="!editarContraparte" pInputText
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label>Numero de DPI</label>
					<input [(ngModel)]="proyecto.contraparte!.dpi" pInputText id="dpi" [disabled]="!editarContraparte"
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label>Numero de Telefono</label>
					<input [(ngModel)]="proyecto.contraparte!.telefono" pInputText id="telefono"
						[disabled]="!editarContraparte" class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label>Titulo</label>
					<p-dropdown #rolDropdown [(ngModel)]="proyecto.contraparte!.titulo" [options]="titulos"
						[disabled]="!editarContraparte" optionLabel="nombre" class="text"></p-dropdown>
				</div>
				<!-- 
					<div class="field col-12 md:col-6 pb-0">
					<label>Titulo</label>
					<p-dropdown #rolDropdown [(ngModel)]="proyecto.contraparte!.titulo" [options]="titulos" [editable]="true"
						optionLabel="nombre"></p-dropdown>
				</div>
				-->
			</div>
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-6 pb-0">
					<p-button *ngIf="editarContraparte" label="Cancelar" icon="pi pi-times"
						(onClick)="cancelarEdicionContraparte()"
						styleClass="p-button-outlined p-button-secondary"></p-button>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<p-button *ngIf="!editarContraparte && modoEdicion" label="Editar" icon="pi pi-pencil"
						(onClick)="editarContraparte=true" styleClass="p-button-outlined p-button-secondary"></p-button>
					<p-button *ngIf="editarContraparte" label="Guardar" icon="pi pi-save"
						styleClass="p-button-outlined p-button-secondary" (onClick)="guardarContraparte()"></p-button>
				</div>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="activeIndex === 2">
		<div class="card">
			<label class="negrita">Asesor del proyecto</label>
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-6 pb-0">
					<label htmlFor="nombres">Nombre</label>
					<input [(ngModel)]="proyecto.asesor!.nombreCompleto" [disabled]="!editarAsesor" pInputText
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label class="" htmlFor="email">Correo electrónico</label>
					<input [(ngModel)]="proyecto.asesor!.correo" [disabled]="!editarAsesor" pInputText class="text" />
				</div>
				<!--<div class="field col-12 md:col-6 pb-0">
					<label class="" htmlFor="direccion">Direccion</label>
					<input [(ngModel)]="proyecto.asesor!.direccion" [disabled]="!editarAsesor" pInputText id="direccion"
						class="text" />
				</div>-->
				<div class="field col-12 md:col-6 pb-0">
					<label class="" htmlFor="dpi">Numero de DPI</label>
					<input [(ngModel)]="proyecto.asesor!.dpi" pInputText id="dpi" [disabled]="!editarAsesor"
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label class="" htmlFor="telefono">Numero de Telefono</label>
					<input [(ngModel)]="proyecto.asesor!.telefono" pInputText id="telefono" [disabled]="!editarAsesor"
						class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label class="" htmlFor="colegiado">Numero de Colegiado</label>
					<input [(ngModel)]="proyecto.asesor!.numeroColegiado" pInputText id="colegiado"
						[disabled]="!editarAsesor" class="text" />
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<label>Titulo</label>
					<p-dropdown #rolDropdown [(ngModel)]="proyecto.asesor!.titulo" [options]="titulos"
						[disabled]="!editarAsesor" optionLabel="nombre" class="text"></p-dropdown>
				</div>
				<div class="field col-12 md:col-6">
					<label class="" htmlFor="registro">Registro Academico (Opcional)</label>
					<input [(ngModel)]="proyecto.asesor!.registroAcademico" pInputText id="registro"
						[disabled]="!editarAsesor" class="text" />
				</div>
			</div>
			<div class="grid p-fluid mt-3">
				<div class="field col-12 md:col-6 pb-0">
					<p-button *ngIf="editarAsesor" label="Cancelar" icon="pi pi-times"
						(onClick)="cancelarEdicionAsesor()"
						styleClass="p-button-outlined p-button-secondary"></p-button>
				</div>
				<div class="field col-12 md:col-6 pb-0">
					<p-button *ngIf="!editarAsesor && modoEdicion" label="Editar" icon="pi pi-pencil"
						(onClick)="editarAsesor=true" styleClass="p-button-outlined p-button-secondary"></p-button>
					<p-button *ngIf="editarAsesor" label="Guardar" icon="pi pi-save"
						(onClick)="guardarAsesor(proyecto.asesor!.idUsuario!)"
						styleClass="p-button-outlined p-button-secondary"></p-button>
				</div>
			</div>
		</div>

		<ng-container *ngFor="let asesorTecnico of asesoresTecnicosAny">
			<div class="card">
				<label class="negrita">Asesor tecnico</label>
				<div class="grid p-fluid mt-3">
					<div class="field col-12 md:col-6 pb-0">
						<label>Nombres</label>
						<input [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.nombreCompleto)}"
							[disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.nombreCompleto"
							pInputText class="text" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Titulo</label>
						<input [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.tituloAsesor)}"
							[disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.tituloAsesor"
							pInputText class="text" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label htmlFor="email">Correo electrónico</label>
						<input [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.correo)}"
							[disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.correo" pInputText
							class="text" />
					</div>
					<!--<div class="field col-12 md:col-6 pb-0">
						<label>Direccion</label>
						<input [(ngModel)]="asesorTecnico.asesor.direccion" pInputText class="text"
							[disabled]="!asesorTecnico.edicion"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.direccion)}" />
					</div>-->
					<div class="field col-12 md:col-6 pb-0">
						<label>Numero de DPI</label>
						<input [(ngModel)]="asesorTecnico.asesor.dpi" pInputText id="dpi" class="text"
							[disabled]="!asesorTecnico.edicion"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.dpi)}" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Numero de Telefono</label>
						<input [(ngModel)]="asesorTecnico.asesor.telefono" pInputText class="text"
							[disabled]="!asesorTecnico.edicion"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.telefono)}" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Numero de Colegiado</label>
						<input [(ngModel)]="asesorTecnico.asesor.numeroColegiado" pInputText class="text"
							[disabled]="!asesorTecnico.edicion"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.numeroColegiado)}" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Registro Academico (Opcional)</label>
						<input [disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.registroAcademico"
							pInputText class="text" />
					</div>
				</div>
				<div class="grid p-fluid mt-3">
					<div class="field col-12 md:col-6 pb-0">
						<p-button *ngIf="asesorTecnico.edicion" label="Cancelar" icon="pi pi-times"
							(onClick)="cancelarEdicionAsesorTecnico(asesorTecnico)"
							styleClass="p-button-outlined p-button-secondary"></p-button>
						<p-button *ngIf="!asesorTecnico.edicion" label="Eliminar" icon="pi pi-trash"
							(onClick)="eliminarAsesorTecnico(asesorTecnico)"
							styleClass="p-button-outlined p-button-secondary"></p-button>
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<p-button *ngIf="!asesorTecnico.edicion" label="Editar" icon="pi pi-pencil"
							(onClick)="asesorTecnico.edicion=true"
							styleClass="p-button-outlined p-button-secondary"></p-button>
						<p-button *ngIf="asesorTecnico.edicion" label="Guardar" icon="pi pi-save"
							(onClick)="guardarAsesorTecnico(asesorTecnico)"
							styleClass="p-button-outlined p-button-secondary"></p-button>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-container *ngFor="let asesorTecnico of asesoresTecnicosNuevosAny">
			<div class="card">
				<label class="negrita">Asesor tecnico</label>
				<div class="grid p-fluid mt-3">
					<div class="field col-12 md:col-6 pb-0">
						<label htmlFor="nombres">Nombre</label>
						<input [disabled]="!asesorTecnico.edicion"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.nombreCompleto)}"
							[(ngModel)]="asesorTecnico.asesor.nombreCompleto" pInputText class="text" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label htmlFor="email">Correo electrónico</label>
						<input [disabled]="!asesorTecnico.edicion"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.correo)}"
							[(ngModel)]="asesorTecnico.asesor.correo" pInputText class="text" />
					</div>
					<!--<div class="field col-12 md:col-6 pb-0">
						<label>Direccion</label>
						<input [disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.direccion"
							pInputText class="text"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.direccion)}" />
					</div>-->
					<div class="field col-12 md:col-6 pb-0">
						<label>Numero de DPI</label>
						<input [disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.dpi" pInputText
							id="dpi" class="text"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.dpi)}" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Numero de Telefono</label>
						<input [disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.telefono"
							pInputText class="text"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.telefono)}" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Numero de Colegiado</label>
						<input [disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.numeroColegiado"
							pInputText class="text"
							[ngClass]="{'ng-invalid ng-dirty': isFieldInvalid(asesorTecnico.asesor.numeroColegiado)}" />
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<label>Registro Academico (Opcional)</label>
						<input [disabled]="!asesorTecnico.edicion" [(ngModel)]="asesorTecnico.asesor.registroAcademico"
							pInputText class="text" />
					</div>
				</div>
				<div class="grid p-fluid mt-3">
					<div class="field col-12 md:col-6 pb-0">
						<p-button *ngIf="asesorTecnico.edicion" label="Cancelar" icon="pi pi-times"
							styleClass="p-button-outlined p-button-secondary"
							(onClick)="cancelarAsesorTecnico(asesorTecnico)"></p-button>
					</div>
					<div class="field col-12 md:col-6 pb-0">
						<p-button *ngIf="asesorTecnico.edicion" label="Guardar" icon="pi pi-save"
							styleClass="p-button-outlined p-button-secondary"
							(onClick)="guardarNuevoAsesorTecnico(asesorTecnico)"></p-button>
					</div>
				</div>
			</div>
		</ng-container>
		<div *ngIf="modoEdicion" class="grid p-fluid mt-3">
			<div class="field col-12 md:col-12 pb-0">
				<p-button label="Agregar asesor tecnico" styleClass="p-button-link"
					(click)="agregarAsesorTecnico()"></p-button>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="activeIndex === 3">
		<div class="grid p-fluid mt-3 pb-0">
			<div class="field col-12 md:col-6 pb-0">
				<label class="" htmlFor="nombres">Nombre</label>
				<input [(ngModel)]="proyecto.usuario!.nombreCompleto" disabled="true" pInputText class="text" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label class="" htmlFor="email">Correo electrónico</label>
				<input [(ngModel)]="proyecto.usuario!.correo" disabled="true" pInputText class="text" />
			</div>
			<!--<div class="field col-12 md:col-6 pb-0">
				<label class="" htmlFor="direccion">Direccion</label>
				<input [(ngModel)]="proyecto.usuario!.direccion" disabled="true" pInputText id="direccion"
					class="text" />
			</div>-->
			<div class="field col-12 md:col-6 pb-0">
				<label class="" htmlFor="dpi">Numero de DPI</label>
				<input [(ngModel)]="proyecto.usuario!.dpi" pInputText id="dpi" disabled="true" class="text" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label class="" htmlFor="telefono">Numero de Telefono</label>
				<input [(ngModel)]="proyecto.usuario!.telefono" pInputText id="telefono" disabled="true" class="text" />
			</div>
			<div class="field col-12 md:col-6 pb-0">
				<label class="" htmlFor="registro">Registro Academico</label>
				<input [(ngModel)]="proyecto.usuario!.registroAcademico" pInputText id="registro" disabled="true"
					class="text" />
			</div>
		</div>
	</ng-container>
	<p-divider></p-divider>
	<div class="field col">
		<div class="comment-box">
			<h3>Comentarios</h3>
			<div class="comment-form">
				<textarea [(ngModel)]="text" class="comment-input" placeholder="Escribe tu comentario"></textarea>
				<button type="submit" class="comment-button" (click)="comentar()">Comentar</button>
			</div>
			<br>
			<br>
			<div class="comment-list">
				<ng-container *ngFor="let comentario of comentarios">
					<app-comment [comment]="comentario"></app-comment>
				</ng-container>
				<p-button *ngIf="(currentPage+1)<totalpages" label="ver mas comentarios" styleClass="p-button-link"
					(onClick)="cargarMasComentarios()"></p-button>
			</div>
		</div>
	</div>
</div>
<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">Solicitar Cambios</span>
	</ng-template>
	<textarea [(ngModel)]="textCambios" class="comment-input" placeholder="Escribe tu comentario"></textarea>
	<ng-template pTemplate="footer">
		<p-button icon="pi pi-check" (click)="solicitarCambios()" label="Aceptar" styleClass="p-button-text"></p-button>
	</ng-template>
</p-dialog>

<p-dialog header="Header" [(visible)]="finalizaProyecto" [style]="{ width: '30vw' }">
	<ng-template pTemplate="header">
		<span class="text-xl font-bold">Finalizar Proyecto</span>
	</ng-template>
	<div [style]="{'background': '#E0E0E0','padding':'1rem','border-radius':'6px'}">
		<p class="m-0">Si finaliza con el proyecto, ya no podra activarlo posteriormente, ¿esta seguro de finalizar con
			el proyecto?</p>
	</div>
	<br>
	<textarea [(ngModel)]="comentarioFinalizarBitacora" class="comment-input"
		placeholder="Justifique el motivo de la finalizacion de proyecto"></textarea>
	<ng-template pTemplate="footer">
		<p-button icon="pi pi-check" (click)="finalizarProyecto()" label="Finalizar Proyecto"
			styleClass="p-button-text"></p-button>
	</ng-template>

</p-dialog>
<p-confirmDialog header="Confirmacion" key="confirm1" [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text"
	rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<style>
	.remove {
		margin-left: 5px;
	}

	.item {
		width: auto;
	}

	.info {
		margin-bottom: 10px;
	}

	h3 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.comment-form {
		margin-top: 20px;
	}

	.bordered-div {
		border: 1px solid #757575;
		border-radius: 10px;
	}

	.comment-input {
		width: 100%;
		height: 100px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.comment-button {
		display: block;
		margin-top: 10px;
		padding: 5px 10px;
		background-color: #778899;
		color: #fff;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}

	.text {
		color: black;
	}

	.comment-button:hover {
		background-color: #696969;
	}

	.negrita {
		font-weight: bold;
		font-style: italic;
	}

	.titulo {
		color: #00274e;
		font-weight: bold;
	}

	.icon-atras {
		margin-top: 10px;
	}

	.input-container {
		display: flex;
		/* Enable Flexbox layout */
		align-items: center;
		/* Vertically center items */
		justify-content: space-between;
		/* Add space between items */
	}

	/* Optional: Adjust the padding or margins if needed */
	.input-container text {
		margin-right: 10px;
		/* Adjust the spacing between textarea and button */
	}

	.button {
		width: 100%;
	}

	.file-uploader {
		width: 100%;
	}
</style>